<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ma.grecode.mapper.RolePermissionMapper">

    <resultMap id="BaseResultMap" type="com.ma.grecode.entity.RolePermission">
            <id property="id" column="id" />
            <result property="roleId" column="role_id" />
            <result property="permissionId" column="permission_id" />
            <result property="createBy" column="create_by" />
            <result property="updateBy" column="update_by" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="isDelete" column="is_delete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,permission_id,create_by,update_by,create_time,
        update_time,is_delete
    </sql>
</mapper>
